<% if current_user %>
  <%= form_tag post_my_weight_path do %>
    <%# text_field_tag 'weight', nil, placeholder: '体重を入力してください' %>
    <%= number_field_tag 'weight', nil, step: 0.1, placeholder: '体重を入力してください'%>
    <%= number_field_tag 'body_fat_percentage', nil, step: 0.1, placeholder: '体脂肪を入力してください' %>
    <%= text_field_tag 'memo', "", placeholder: 'メモを入力してください' %>
    <%= submit_tag '体重をつぶやく' %>
  <% end %>

  <%= link_to '直近30回分のグラフを投稿', post_my_weight_30_path %>
  <%= link_to '直近90回分のグラフを投稿', post_my_weight_90_path %>
  <%= link_to '直近180回分のグラフを投稿', post_my_weight_180_path %>
  <% form_tag post_my_weights_path do %>
    <%= number_field_tag 'times', 7, step: 1, placeholder: '回数を入力してください'%>
    <%= submit_tag '回数分のグラフをつぶやく' %>
  <% end %>
  <%= link_to '測定一覧を表示', measurements_url %>
<% else %>
  <p>ログインしてください</p>
<% end %>
